<md-dialog aria-label="Mango (Fruit)" flex="40" class="padding30">
    <form ng-cloak>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Update Your Information</h2>
                <form class="">
                    <div class="row">
                        <div class="col-md-6 padding30">
                            <textfield label="FirstName" id="firstName" placeholder="eg: John" name="firstName"></textfield>
                            <textfield label="Email" id="email" placeholder="eg: john@smith.com" name="email"></textfield>
                        </div>
                        <div class="col-md-6 padding30">
                            <textfield label="Last Name" id="lastName" placeholder="eg: Smith" name="lastName"></textfield>
                        </div>
                    </div>
                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn" ng-click="closeDialog()">Cancel</md-button>
            <md-button class="md-primary">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>